In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import os
import re

# setup paths

In [2]:
!pwd
HOME_dir = os.getcwd(); HOME_dir

/Users/xianli/Desktop/fast

'/Users/xianli/Desktop/fast'

In [3]:
DATA_folder = 'Kaggle/data/rossmann'
data_dir = os.path.join(HOME_dir,DATA_folder)
data_dir

'/Users/xianli/Desktop/fast/Kaggle/data/rossmann'

# Read data

read all the tables together

In [4]:
table_names = ['train', 'store', 'store_states', 'state_names',
               'googletrend', 'weather', 'test']
tables =[pd.read_csv(data_dir+'/'+fnames+'.csv', low_memory=False) for fnames in table_names]
train, store, store_states, state_names, googletrend, weather, test = tables
train.shape, test.shape

((1017209, 9), (41088, 8))

In [5]:
message = ['Shape of the table "%s" is %s' %(table_names[i], str(tb.shape)) 
       for i, tb in enumerate(tables)]
for out in message:
    print(out)

Shape of the table "train" is (1017209, 9)
Shape of the table "store" is (1115, 10)
Shape of the table "store_states" is (1115, 2)
Shape of the table "state_names" is (16, 2)
Shape of the table "googletrend" is (2072, 3)
Shape of the table "weather" is (15840, 24)
Shape of the table "test" is (41088, 8)

In [6]:
train.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1

### Convert categorical variables to boolean values

In [7]:
train.StateHoliday = train.StateHoliday != '0'
train.SchoolHoliday = train.SchoolHoliday != 0

test.StateHoliday = test.StateHoliday != '0'
test.SchoolHoliday = test.SchoolHoliday != 0

In [8]:
train.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,False,True
1,2,5,2015-07-31,6064,625,1,1,False,True
2,3,5,2015-07-31,8314,821,1,1,False,True
3,4,5,2015-07-31,13995,1498,1,1,False,True
4,5,5,2015-07-31,4822,559,1,1,False,True

In [11]:
weather.head().T

,0,1,2,3,4
file,NordrheinWestfalen,NordrheinWestfalen,NordrheinWestfalen,NordrheinWestfalen,NordrheinWestfalen
Date,2013-01-01,2013-01-02,2013-01-03,2013-01-04,2013-01-05
Max_TemperatureC,8,7,11,9,8
Mean_TemperatureC,4,4,8,9,8
Min_TemperatureC,2,1,6,8,7
Dew_PointC,7,5,10,9,8
MeanDew_PointC,5,3,8,9,7
Min_DewpointC,1,2,4,8,6
Max_Humidity,94,93,100,100,100
Mean_Humidity,87,85,93,94,94
Min_Humidity,65,78,77,87,87
Max_Sea_Level_PressurehPa,1013,1028,1035,1036,1035
Mean_Sea_Level_PressurehPa,1005,1022,1030,1035,1034
Min_Sea_Level_PressurehPa,1001,1014,1026,1034,1033
Max_VisibilityKm,31,31,31,11,10
Mean_VisibilityKm,12,14,8,5,6
Min_VisibilitykM,4,10,2,2,3
Max_Wind_SpeedKm_h,39,24,26,23,16
Mean_Wind_SpeedKm_h,26,16,21,14,10
Max_Gust_SpeedKm_h,58,NaN,NaN,NaN,NaN
Precipitationmm,5.08,0,1.02,0.25,0
CloudCover,6,6,7,7,7
Events,Rain,Rain,Rain,Rain,Rain
WindDirDegrees,215,225,240,263,268

In [12]:
state_names.head()

           StateName State
0  BadenWuerttemberg    BW
1             Bayern    BY
2             Berlin    BE
3        Brandenburg    BB
4             Bremen    HB

### Join two dataframes by comparing specified column values

In [13]:
# combining two dataframes based on the values in left_on column 
# in the left dataframe and right_on column in the right df
def join_df(left, right, left_on, right_on=None,suffix='_y'):
    if right_on is None: right_on = left_on
    return left.merge(right,how='left', left_on=left_on,
                         right_on= right_on, suffixes=("",suffix))

In [14]:
weather = join_df(weather, state_names, "file","StateName")

In [15]:
weather.head().T

,0,1,2,3,4
file,NordrheinWestfalen,NordrheinWestfalen,NordrheinWestfalen,NordrheinWestfalen,NordrheinWestfalen
Date,2013-01-01,2013-01-02,2013-01-03,2013-01-04,2013-01-05
Max_TemperatureC,8,7,11,9,8
Mean_TemperatureC,4,4,8,9,8
Min_TemperatureC,2,1,6,8,7
Dew_PointC,7,5,10,9,8
MeanDew_PointC,5,3,8,9,7
Min_DewpointC,1,2,4,8,6
Max_Humidity,94,93,100,100,100
Mean_Humidity,87,85,93,94,94
Min_Humidity,65,78,77,87,87
Max_Sea_Level_PressurehPa,1013,1028,1035,1036,1035
Mean_Sea_Level_PressurehPa,1005,1022,1030,1035,1034
Min_Sea_Level_PressurehPa,1001,1014,1026,1034,1033
Max_VisibilityKm,31,31,31,11,10
Mean_VisibilityKm,12,14,8,5,6
Min_VisibilitykM,4,10,2,2,3
Max_Wind_SpeedKm_h,39,24,26,23,16
Mean_Wind_SpeedKm_h,26,16,21,14,10
Max_Gust_SpeedKm_h,58,NaN,NaN,NaN,NaN
Precipitationmm,5.08,0,1.02,0.25,0
CloudCover,6,6,7,7,7
Events,Rain,Rain,Rain,Rain,Rain
WindDirDegrees,215,225,240,263,268
StateName,NordrheinWestfalen,NordrheinWestfalen,NordrheinWestfalen,NordrheinWestfalen,NordrheinWestfalen
State,NW,NW,NW,NW,NW

In [16]:
# select rows that contain _y in the StateName column
contain_y = weather.loc[weather.StateName.str.contains('_y',regex=False)]
# check if all the values in a column is equal to False
(weather.StateName.str.contains('_y',regex=False) == False).all()

True

### Add new columns to df by splitting values in other columns

In [17]:
googletrend.head()

             file                     week  trend
0  Rossmann_DE_SN  2012-12-02 - 2012-12-08     96
1  Rossmann_DE_SN  2012-12-09 - 2012-12-15     95
2  Rossmann_DE_SN  2012-12-16 - 2012-12-22     91
3  Rossmann_DE_SN  2012-12-23 - 2012-12-29     48
4  Rossmann_DE_SN  2012-12-30 - 2013-01-05     67

In [52]:
# googletrend=googletrend.drop(['Date_beg','Date_end'],axis=1)

In [18]:
googletrend['Date'] = googletrend.week.str.split(' - ', expand=True)[0]
googletrend['State'] = googletrend.file.str.split('_',expand=True)[2]
googletrend.head()

             file                     week  trend        Date State
0  Rossmann_DE_SN  2012-12-02 - 2012-12-08     96  2012-12-02    SN
1  Rossmann_DE_SN  2012-12-09 - 2012-12-15     95  2012-12-09    SN
2  Rossmann_DE_SN  2012-12-16 - 2012-12-22     91  2012-12-16    SN
3  Rossmann_DE_SN  2012-12-23 - 2012-12-29     48  2012-12-23    SN
4  Rossmann_DE_SN  2012-12-30 - 2013-01-05     67  2012-12-30    SN

In [19]:
# data specific: replace all instances of state name 'NI' to match the usage in the rest of the data: 'HB,NI'.
googletrend.loc[googletrend.State=='NI','State'] = 'HB,NI'

### Split datetime column into several categorical columns to better capture the time (than using strings)
#### Always consider doing this for datetime objects

In [20]:
def add_date_part(df, col_name, drop=True, time=False):
    col = df[col_name]
    col_type = col.dtype
    # check column field data type, good usage
    if isinstance(col_type, pd.core.dtypes.dtypes.DatetimeTZDtype):
        col_type = np.datetime64
    if not np.issubdtype(col_type, np.datetime64): # if col_type is not a subtype of np.datetime64
        df[col_name] = col = pd.to_datetime(col, infer_datetime_format=True)
    targ_pre = re.sub('[Dd]ate$','', col_name) # remove [Dd]ate from col_name
    # these attributes are provided by the pandas datetime object
    attr = ['Year', 'Month', 'Week', 'Day', 'Dayofweek', 'Dayofyear',
            'Is_month_end', 'Is_month_start', 'Is_quarter_end', 'Is_quarter_start', 'Is_year_end', 'Is_year_start']
    if time: # if time of the date is also available
        attr += ['Hour', 'Minute', 'Second']
    for n in attr: # create new columns
        df[targ_pre + n] = getattr(col.dt, n.lower()) # get atrribute value from pd series object
    df[targ_pre + 'Elapsed'] = col.astype(np.int64) // 10 ** 9
    if drop: df.drop(col_name, axis=1, inplace=True) # drop the original column

In [21]:
add_date_part(weather,'Date',drop=False)
add_date_part(googletrend, "Date", drop=False)
add_date_part(train, "Date", drop=False)
add_date_part(test, "Date", drop=False)

In [22]:
googletrend.head()

,file,week,trend,Date,State,Year,Month,Week,Day,Dayofweek,Dayofyear,Is_month_end,Is_month_start,Is_quarter_end,Is_quarter_start,Is_year_end,Is_year_start,Elapsed
0,Rossmann_DE_SN,2012-12-02 - 2012-12-08,96,2012-12-02,SN,2012,12,48,2,6,337,False,False,False,False,False,False,1354406400
1,Rossmann_DE_SN,2012-12-09 - 2012-12-15,95,2012-12-09,SN,2012,12,49,9,6,344,False,False,False,False,False,False,1355011200
2,Rossmann_DE_SN,2012-12-16 - 2012-12-22,91,2012-12-16,SN,2012,12,50,16,6,351,False,False,False,False,False,False,1355616000
3,Rossmann_DE_SN,2012-12-23 - 2012-12-29,48,2012-12-23,SN,2012,12,51,23,6,358,False,False,False,False,False,False,1356220800
4,Rossmann_DE_SN,2012-12-30 - 2013-01-05,67,2012-12-30,SN,2012,12,52,30,6,365,False,False,False,False,False,False,1356825600

### Extract specific rows from df
The Google trends data has a special category for the whole of the Germany - we'll pull that out so we can use it explicitly.

In [23]:
trend_de = googletrend[googletrend.file=='Rossmann_DE']
trend_de.head(), trend_de.shape

(            file                     week  trend       Date State  Year  \
 148  Rossmann_DE  2012-12-02 - 2012-12-08     77 2012-12-02  None  2012
 149  Rossmann_DE  2012-12-09 - 2012-12-15     76 2012-12-09  None  2012
 150  Rossmann_DE  2012-12-16 - 2012-12-22     85 2012-12-16  None  2012
 151  Rossmann_DE  2012-12-23 - 2012-12-29     59 2012-12-23  None  2012
 152  Rossmann_DE  2012-12-30 - 2013-01-05     61 2012-12-30  None  2012

      Month  Week  Day  Dayofweek  Dayofyear  Is_month_end  Is_month_start  \
 148     12    48    2          6        337         False           False
 149     12    49    9          6        344         False           False
 150     12    50   16          6        351         False           False
 151     12    51   23          6        358         False           False
 152     12    52   30          6        365         False           False

      Is_quarter_end  Is_quarter_start  Is_year_end  Is_year_start     Elapsed
 148           False             False        False          False  1354406400
 149           False             False        False          False  1355011200
 150           False             False        False          False  1355616000
 151           False             False        False          False  1356220800
 152           False             False        False          False  1356825600  ,
 (148, 18))

## Outer join all dataframes
- note difference between inner, left, right and full outer joins
- In left join, use values from the left table as keys. If any key is not found in the right table, the corresponding right table fields will be set to null in the new table --> can used to check whether data is complete
- it's key --> value lookups

In [24]:
store = join_df(store, store_states, "Store") # left join
len(store[store.State.isnull()]) # if any missing keys in the right table

0

In [25]:
store.head()

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,State
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN,HE
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct",TH
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct",NW
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN,BE
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN,SN

In [26]:
# merging dataframes based on the same stores
joined = join_df(train,store,"Store")
joined_test = join_df(test,store,"Store")
len(joined[joined.StoreType.isnull()]),len(joined_test[joined_test.StoreType.isnull()])

(0, 0)

In [27]:
joined.head().T

,0,1,2,3,4
Store,1,2,3,4,5
DayOfWeek,5,5,5,5,5
Date,2015-07-31 00:00:00,2015-07-31 00:00:00,2015-07-31 00:00:00,2015-07-31 00:00:00,2015-07-31 00:00:00
Sales,5263,6064,8314,13995,4822
Customers,555,625,821,1498,559
Open,1,1,1,1,1
Promo,1,1,1,1,1
StateHoliday,False,False,False,False,False
SchoolHoliday,True,True,True,True,True
Year,2015,2015,2015,2015,2015
Month,7,7,7,7,7
Week,31,31,31,31,31
Day,31,31,31,31,31
Dayofweek,4,4,4,4,4
Dayofyear,212,212,212,212,212
Is_month_end,True,True,True,True,True
Is_month_start,False,False,False,False,False
Is_quarter_end,False,False,False,False,False
Is_quarter_start,False,False,False,False,False
Is_year_end,False,False,False,False,False
Is_year_start,False,False,False,False,False
Elapsed,1438300800,1438300800,1438300800,1438300800,1438300800
StoreType,c,a,a,c,a
Assortment,a,a,a,c,a
CompetitionDistance,1270,570,14130,620,29910
CompetitionOpenSinceMonth,9,11,12,9,4
CompetitionOpenSinceYear,2008,2007,2006,2009,2015
Promo2,0,1,1,0,0
Promo2SinceWeek,NaN,13,14,NaN,NaN
Promo2SinceYear,NaN,2010,2011,NaN,NaN
PromoInterval,NaN,"Jan,Apr,Jul,Oct","Jan,Apr,Jul,Oct",NaN,NaN
State,HE,TH,NW,BE,SN

In [28]:
# join field when all 3 keys are satisfied simultaneously?
joined = join_df(joined, googletrend, ['State', 'Year', 'Week'])
joined_test = join_df(joined_test, googletrend, ["State","Year", "Week"])
len(joined[joined.trend.isnull()]),len(joined_test[joined_test.trend.isnull()])

(0, 0)

In [29]:
joined.head().T

,0,1,2,3,4
Store,1,2,3,4,5
DayOfWeek,5,5,5,5,5
Date,2015-07-31 00:00:00,2015-07-31 00:00:00,2015-07-31 00:00:00,2015-07-31 00:00:00,2015-07-31 00:00:00
Sales,5263,6064,8314,13995,4822
Customers,555,625,821,1498,559
Open,1,1,1,1,1
Promo,1,1,1,1,1
StateHoliday,False,False,False,False,False
SchoolHoliday,True,True,True,True,True
Year,2015,2015,2015,2015,2015
Month,7,7,7,7,7
Week,31,31,31,31,31
Day,31,31,31,31,31
Dayofweek,4,4,4,4,4
Dayofyear,212,212,212,212,212
Is_month_end,True,True,True,True,True
Is_month_start,False,False,False,False,False
Is_quarter_end,False,False,False,False,False
Is_quarter_start,False,False,False,False,False
Is_year_end,False,False,False,False,False
Is_year_start,False,False,False,False,False
Elapsed,1438300800,1438300800,1438300800,1438300800,1438300800
StoreType,c,a,a,c,a
Assortment,a,a,a,c,a
CompetitionDistance,1270,570,14130,620,29910
CompetitionOpenSinceMonth,9,11,12,9,4
CompetitionOpenSinceYear,2008,2007,2006,2009,2015
Promo2,0,1,1,0,0
Promo2SinceWeek,NaN,13,14,NaN,NaN
Promo2SinceYear,NaN,2010,2011,NaN,NaN
PromoInterval,NaN,"Jan,Apr,Jul,Oct","Jan,Apr,Jul,Oct",NaN,NaN
State,HE,TH,NW,BE,SN
file,Rossmann_DE_HE,Rossmann_DE_TH,Rossmann_DE_NW,Rossmann_DE_BE,Rossmann_DE_SN
week,2015-08-02 - 2015-08-08,2015-08-02 - 2015-08-08,2015-08-02 - 2015-08-08,2015-08-02 - 2015-08-08,2015-08-02 - 2015-08-08
trend,85,80,86,74,82
Date_y,2015-08-02 00:00:00,2015-08-02 00:00:00,2015-08-02 00:00:00,2015-08-02 00:00:00,2015-08-02 00:00:00
Month_y,8,8,8,8,8
Day_y,2,2,2,2,2
Dayofweek_y,6,6,6,6,6
Dayofyear_y,214,214,214,214,214
Is_month_end_y,False,False,False,False,False
Is_month_start_y,False,False,False,False,False
Is_quarter_end_y,False,False,False,False,False
Is_quarter_start_y,False,False,False,False,False
Is_year_end_y,False,False,False,False,False
Is_year_start_y,False,False,False,False,False
Elapsed_y,1438473600,1438473600,1438473600,1438473600,1438473600

In [30]:
joined.columns

Index(['Store', 'DayOfWeek', 'Date', 'Sales', 'Customers', 'Open', 'Promo',
       'StateHoliday', 'SchoolHoliday', 'Year', 'Month', 'Week', 'Day',
       'Dayofweek', 'Dayofyear', 'Is_month_end', 'Is_month_start',
       'Is_quarter_end', 'Is_quarter_start', 'Is_year_end', 'Is_year_start',
       'Elapsed', 'StoreType', 'Assortment', 'CompetitionDistance',
       'CompetitionOpenSinceMonth', 'CompetitionOpenSinceYear', 'Promo2',
       'Promo2SinceWeek', 'Promo2SinceYear', 'PromoInterval', 'State', 'file',
       'week', 'trend', 'Date_y', 'Month_y', 'Day_y', 'Dayofweek_y',
       'Dayofyear_y', 'Is_month_end_y', 'Is_month_start_y', 'Is_quarter_end_y',
       'Is_quarter_start_y', 'Is_year_end_y', 'Is_year_start_y', 'Elapsed_y'],
      dtype='object')

In [31]:
joined = joined.merge(trend_de, 'left', ["Year", "Week"], suffixes=('', '_DE'))
joined_test = joined_test.merge(trend_de, 'left', ["Year", "Week"], suffixes=('', '_DE'))
len(joined[joined.trend_DE.isnull()]),len(joined_test[joined_test.trend_DE.isnull()])

(0, 0)

In [32]:
joined = join_df(joined, weather, ["State","Date"])
joined_test = join_df(joined_test, weather, ["State","Date"])
len(joined[joined.Mean_TemperatureC.isnull()]),len(joined_test[joined_test.Mean_TemperatureC.isnull()])

(0, 0)

In [33]:
joined.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,Year,...,Day_y,Dayofweek_y,Dayofyear_y,Is_month_end_y,Is_month_start_y,Is_quarter_end_y,Is_quarter_start_y,Is_year_end_y,Is_year_start_y,Elapsed_y
0,1,5,2015-07-31,5263,555,1,1,False,True,2015,...,31,4,212,True,False,False,False,False,False,1438300800
1,2,5,2015-07-31,6064,625,1,1,False,True,2015,...,31,4,212,True,False,False,False,False,False,1438300800
2,3,5,2015-07-31,8314,821,1,1,False,True,2015,...,31,4,212,True,False,False,False,False,False,1438300800
3,4,5,2015-07-31,13995,1498,1,1,False,True,2015,...,31,4,212,True,False,False,False,False,False,1438300800
4,5,5,2015-07-31,4822,559,1,1,False,True,2015,...,31,4,212,True,False,False,False,False,False,1438300800

In [34]:
joined.shape, joined.columns

((1017209, 100),
 Index(['Store', 'DayOfWeek', 'Date', 'Sales', 'Customers', 'Open', 'Promo',
        'StateHoliday', 'SchoolHoliday', 'Year', 'Month', 'Week', 'Day',
        'Dayofweek', 'Dayofyear', 'Is_month_end', 'Is_month_start',
        'Is_quarter_end', 'Is_quarter_start', 'Is_year_end', 'Is_year_start',
        'Elapsed', 'StoreType', 'Assortment', 'CompetitionDistance',
        'CompetitionOpenSinceMonth', 'CompetitionOpenSinceYear', 'Promo2',
        'Promo2SinceWeek', 'Promo2SinceYear', 'PromoInterval', 'State', 'file',
        'week', 'trend', 'Date_y', 'Month_y', 'Day_y', 'Dayofweek_y',
        'Dayofyear_y', 'Is_month_end_y', 'Is_month_start_y', 'Is_quarter_end_y',
        'Is_quarter_start_y', 'Is_year_end_y', 'Is_year_start_y', 'Elapsed_y',
        'file_DE', 'week_DE', 'trend_DE', 'Date_DE', 'State_DE', 'Month_DE',
        'Day_DE', 'Dayofweek_DE', 'Dayofyear_DE', 'Is_month_end_DE',
        'Is_month_start_DE', 'Is_quarter_end_DE', 'Is_quarter_start_DE',
        'Is_year_end_DE', 'Is_year_start_DE', 'Elapsed_DE', 'file_y',
        'Max_TemperatureC', 'Mean_TemperatureC', 'Min_TemperatureC',
        'Dew_PointC', 'MeanDew_PointC', 'Min_DewpointC', 'Max_Humidity',
        'Mean_Humidity', 'Min_Humidity', 'Max_Sea_Level_PressurehPa',
        'Mean_Sea_Level_PressurehPa', 'Min_Sea_Level_PressurehPa',
        'Max_VisibilityKm', 'Mean_VisibilityKm', 'Min_VisibilitykM',
        'Max_Wind_SpeedKm_h', 'Mean_Wind_SpeedKm_h', 'Max_Gust_SpeedKm_h',
        'Precipitationmm', 'CloudCover', 'Events', 'WindDirDegrees',
        'StateName', 'Year_y', 'Month_y', 'Week_y', 'Day_y', 'Dayofweek_y',
        'Dayofyear_y', 'Is_month_end_y', 'Is_month_start_y', 'Is_quarter_end_y',
        'Is_quarter_start_y', 'Is_year_end_y', 'Is_year_start_y', 'Elapsed_y'],
       dtype='object'))

#### Drop certain columns

In [35]:
for df in (joined, joined_test):
    for c in df.columns:
        if c.endswith('_y'):
            if c in df.columns:
                df.drop(c,inplace=True,axis = 1)

In [36]:
joined.shape, joined.columns

((1017209, 74),
 Index(['Store', 'DayOfWeek', 'Date', 'Sales', 'Customers', 'Open', 'Promo',
        'StateHoliday', 'SchoolHoliday', 'Year', 'Month', 'Week', 'Day',
        'Dayofweek', 'Dayofyear', 'Is_month_end', 'Is_month_start',
        'Is_quarter_end', 'Is_quarter_start', 'Is_year_end', 'Is_year_start',
        'Elapsed', 'StoreType', 'Assortment', 'CompetitionDistance',
        'CompetitionOpenSinceMonth', 'CompetitionOpenSinceYear', 'Promo2',
        'Promo2SinceWeek', 'Promo2SinceYear', 'PromoInterval', 'State', 'file',
        'week', 'trend', 'file_DE', 'week_DE', 'trend_DE', 'Date_DE',
        'State_DE', 'Month_DE', 'Day_DE', 'Dayofweek_DE', 'Dayofyear_DE',
        'Is_month_end_DE', 'Is_month_start_DE', 'Is_quarter_end_DE',
        'Is_quarter_start_DE', 'Is_year_end_DE', 'Is_year_start_DE',
        'Elapsed_DE', 'Max_TemperatureC', 'Mean_TemperatureC',
        'Min_TemperatureC', 'Dew_PointC', 'MeanDew_PointC', 'Min_DewpointC',
        'Max_Humidity', 'Mean_Humidity', 'Min_Humidity',
        'Max_Sea_Level_PressurehPa', 'Mean_Sea_Level_PressurehPa',
        'Min_Sea_Level_PressurehPa', 'Max_VisibilityKm', 'Mean_VisibilityKm',
        'Min_VisibilitykM', 'Max_Wind_SpeedKm_h', 'Mean_Wind_SpeedKm_h',
        'Max_Gust_SpeedKm_h', 'Precipitationmm', 'CloudCover', 'Events',
        'WindDirDegrees', 'StateName'],
       dtype='object'))

In [37]:
df.head().T

,0,1,2,3,4
Id,1,2,3,4,5
Store,1,3,7,8,9
DayOfWeek,4,4,4,4,4
Date,2015-09-17 00:00:00,2015-09-17 00:00:00,2015-09-17 00:00:00,2015-09-17 00:00:00,2015-09-17 00:00:00
Open,1,1,1,1,1
Promo,1,1,1,1,1
StateHoliday,False,False,False,False,False
SchoolHoliday,False,False,False,False,False
Year,2015,2015,2015,2015,2015
Month,9,9,9,9,9
Week,38,38,38,38,38
Day,17,17,17,17,17
Dayofweek,3,3,3,3,3
Dayofyear,260,260,260,260,260
Is_month_end,False,False,False,False,False
Is_month_start,False,False,False,False,False
Is_quarter_end,False,False,False,False,False
Is_quarter_start,False,False,False,False,False
Is_year_end,False,False,False,False,False
Is_year_start,False,False,False,False,False
Elapsed,1442448000,1442448000,1442448000,1442448000,1442448000
StoreType,c,a,a,a,a
Assortment,a,a,c,a,c
CompetitionDistance,1270,14130,24000,7520,2030
CompetitionOpenSinceMonth,9,12,4,10,8
CompetitionOpenSinceYear,2008,2006,2013,2014,2000
Promo2,0,1,0,0,0
Promo2SinceWeek,NaN,14,NaN,NaN,NaN
Promo2SinceYear,NaN,2011,NaN,NaN,NaN
PromoInterval,NaN,"Jan,Apr,Jul,Oct",NaN,NaN,NaN
...,...,...,...,...,...
Is_month_end_DE,False,False,False,False,False
Is_month_start_DE,False,False,False,False,False
Is_quarter_end_DE,False,False,False,False,False
Is_quarter_start_DE,False,False,False,False,False
Is_year_end_DE,False,False,False,False,False
Is_year_start_DE,False,False,False,False,False
Elapsed_DE,1442707200,1442707200,1442707200,1442707200,1442707200
Max_TemperatureC,16,17,18,18,17
Mean_TemperatureC,14,14,16,16,14
Min_TemperatureC,13,12,13,13,12
Dew_PointC,16,14,16,16,14
MeanDew_PointC,14,12,13,13,12
Min_DewpointC,12,11,11,11,11
Max_Humidity,100,100,96,96,100
Mean_Humidity,95,78,73,73,78
Min_Humidity,88,58,61,61,58
Max_Sea_Level_PressurehPa,1013,1010,1003,1003,1010
Mean_Sea_Level_PressurehPa,1004,1000,998,998,1000
Min_Sea_Level_PressurehPa,999,993,994,994,993
Max_VisibilityKm,31,26,26,26,26
Mean_VisibilityKm,12,12,10,10,12
Min_VisibilitykM,7,8,2,2,8
Max_Wind_SpeedKm_h,29,37,29,29,37
Mean_Wind_SpeedKm_h,14,26,14,14,26
Max_Gust_SpeedKm_h,NaN,53,45,45,53
Precipitationmm,7.11,3.05,0.76,0.76,3.05
CloudCover,6,6,5,5,6
Events,Rain,Rain,Rain,Rain,Rain
WindDirDegrees,191,187,209,209,187
StateName,Hessen,NordrheinWestfalen,SchleswigHolstein,SchleswigHolstein,NordrheinWestfalen

# Fill missing values

- Fill NAs in some columns with a value that doesn't otherwise appear in the data

In [38]:
print(np.sort(df['CompetitionOpenSinceYear'].unique()))
print(np.sort(df['CompetitionOpenSinceMonth'].unique()))
print(np.sort(df['Promo2SinceYear'].unique()))
print(np.sort(df['Promo2SinceWeek'].unique()))

[1900. 1961. 1990. 1994. 1995. 1998. 1999. 2000. 2001. 2002. 2003. 2004.
 2005. 2006. 2007. 2008. 2009. 2010. 2011. 2012. 2013. 2014. 2015.   nan]
[ 1.  2.  3.  4.  5.  6.  7.  8.  9. 10. 11. 12. nan]
[2009. 2010. 2011. 2012. 2013. 2014. 2015.   nan]
[ 1.  5.  9. 10. 13. 14. 18. 22. 23. 27. 28. 31. 35. 36. 37. 39. 40. 44.
 45. 48. 49. nan]

In [39]:
for df in (joined, joined_test):
    df['CompetitionOpenSinceYear'] = df.CompetitionOpenSinceYear.fillna(1900).astype(np.int32)
    df['CompetitionOpenSinceMonth'] = df.CompetitionOpenSinceMonth.fillna(1).astype(np.int32)
    df['Promo2SinceYear'] = df.Promo2SinceYear.fillna(1900).astype(np.int32)
    df['Promo2SinceWeek'] = df.Promo2SinceWeek.fillna(1).astype(np.int32)

### Combining info from columns to form "CompetitionOpenSince" and "CompetitionDaysOpen" columns

In [40]:
for df in (joined,joined_test):
    
    # make this new datetime column
    df["CompetitionOpenSince"] = pd.to_datetime(dict(year=df.CompetitionOpenSinceYear,
                                               month=df.CompetitionOpenSinceMonth,
                                               day=15))
    
    # calculate days since competiton open, note df.Date is the Date column
    df["CompetitionDaysOpen"] = df.Date.subtract(df.CompetitionOpenSince).dt.days

In [41]:
joined.head().T

,0,1,2,3,4
Store,1,2,3,4,5
DayOfWeek,5,5,5,5,5
Date,2015-07-31 00:00:00,2015-07-31 00:00:00,2015-07-31 00:00:00,2015-07-31 00:00:00,2015-07-31 00:00:00
Sales,5263,6064,8314,13995,4822
Customers,555,625,821,1498,559
Open,1,1,1,1,1
Promo,1,1,1,1,1
StateHoliday,False,False,False,False,False
SchoolHoliday,True,True,True,True,True
Year,2015,2015,2015,2015,2015
Month,7,7,7,7,7
Week,31,31,31,31,31
Day,31,31,31,31,31
Dayofweek,4,4,4,4,4
Dayofyear,212,212,212,212,212
Is_month_end,True,True,True,True,True
Is_month_start,False,False,False,False,False
Is_quarter_end,False,False,False,False,False
Is_quarter_start,False,False,False,False,False
Is_year_end,False,False,False,False,False
Is_year_start,False,False,False,False,False
Elapsed,1438300800,1438300800,1438300800,1438300800,1438300800
StoreType,c,a,a,c,a
Assortment,a,a,a,c,a
CompetitionDistance,1270,570,14130,620,29910
CompetitionOpenSinceMonth,9,11,12,9,4
CompetitionOpenSinceYear,2008,2007,2006,2009,2015
Promo2,0,1,1,0,0
Promo2SinceWeek,1,13,14,1,1
Promo2SinceYear,1900,2010,2011,1900,1900
...,...,...,...,...,...
Is_quarter_end_DE,False,False,False,False,False
Is_quarter_start_DE,False,False,False,False,False
Is_year_end_DE,False,False,False,False,False
Is_year_start_DE,False,False,False,False,False
Elapsed_DE,1438473600,1438473600,1438473600,1438473600,1438473600
Max_TemperatureC,23,19,21,19,20
Mean_TemperatureC,16,13,13,14,15
Min_TemperatureC,8,7,6,9,10
Dew_PointC,9,9,10,9,8
MeanDew_PointC,6,6,7,7,6
Min_DewpointC,3,3,4,4,5
Max_Humidity,98,100,100,94,82
Mean_Humidity,54,62,61,61,55
Min_Humidity,18,25,24,30,26
Max_Sea_Level_PressurehPa,1021,1021,1022,1019,1020
Mean_Sea_Level_PressurehPa,1018,1019,1019,1017,1018
Min_Sea_Level_PressurehPa,1015,1017,1017,1014,1016
Max_VisibilityKm,31,10,31,10,10
Mean_VisibilityKm,15,10,14,10,10
Min_VisibilitykM,10,10,10,10,10
Max_Wind_SpeedKm_h,24,14,14,23,14
Mean_Wind_SpeedKm_h,11,11,5,16,11
Max_Gust_SpeedKm_h,NaN,NaN,NaN,NaN,NaN
Precipitationmm,0,0,0,0,0
CloudCover,1,4,2,6,4
Events,Fog,Fog,Fog,NaN,NaN
WindDirDegrees,13,309,354,282,290
StateName,Hessen,Thueringen,NordrheinWestfalen,Berlin,Sachsen
CompetitionOpenSince,2008-09-15 00:00:00,2007-11-15 00:00:00,2006-12-15 00:00:00,2009-09-15 00:00:00,2015-04-15 00:00:00
CompetitionDaysOpen,2510,2815,3150,2145,107

### Replace erroneous data (lookup rows)

In [42]:
for df in (joined,joined_test):
    df.loc[df.CompetitionDaysOpen<0, "CompetitionDaysOpen"] = 0
    df.loc[df.CompetitionOpenSinceYear < 1990, "CompetitionDaysOpen"] = 0

### Convert days to months, and cap the the maximnum time to 2 years to limit the number of unique categories

In [43]:
for df in (joined, joined_test):
    df['CompetitionMonthsOpen'] = df['CompetitionDaysOpen']//30
    df.loc[df.CompetitionMonthsOpen>24, 'CompetitionMonthsOpen'] = 24

joined.CompetitionMonthsOpen.unique()

array([24,  3, 19,  9,  0, 16, 17,  7, 15, 22, 11, 13,  2, 23, 12,  4, 10,
        1, 14, 20,  8, 18,  6, 21,  5])

### Use isoweek module to process Promo dates

In [41]:
# import sys
# !{sys.executable} -m pip install isoweek

In [44]:
from isoweek import Week
for df in (joined,joined_test):
    df["Promo2Since"] = pd.to_datetime(df.apply(lambda x: Week(
    x.Promo2SinceYear, x.Promo2SinceWeek).monday(), axis=1))
    df["Promo2Days"] = df.Date.subtract(df['Promo2Since']).dt.days

In [45]:
for df in (joined,joined_test):
    df.loc[df.Promo2Days<0, "Promo2Days"] = 0
    df.loc[df.Promo2SinceYear<1990, "Promo2Days"] = 0
    df["Promo2Weeks"] = df["Promo2Days"]//7
    df.loc[df.Promo2Weeks<0, "Promo2Weeks"] = 0
    df.loc[df.Promo2Weeks>25, "Promo2Weeks"] = 25
    df.Promo2Weeks.unique()

In [46]:
joined.head().T

,0,1,2,3,4
Store,1,2,3,4,5
DayOfWeek,5,5,5,5,5
Date,2015-07-31 00:00:00,2015-07-31 00:00:00,2015-07-31 00:00:00,2015-07-31 00:00:00,2015-07-31 00:00:00
Sales,5263,6064,8314,13995,4822
Customers,555,625,821,1498,559
Open,1,1,1,1,1
Promo,1,1,1,1,1
StateHoliday,False,False,False,False,False
SchoolHoliday,True,True,True,True,True
Year,2015,2015,2015,2015,2015
Month,7,7,7,7,7
Week,31,31,31,31,31
Day,31,31,31,31,31
Dayofweek,4,4,4,4,4
Dayofyear,212,212,212,212,212
Is_month_end,True,True,True,True,True
Is_month_start,False,False,False,False,False
Is_quarter_end,False,False,False,False,False
Is_quarter_start,False,False,False,False,False
Is_year_end,False,False,False,False,False
Is_year_start,False,False,False,False,False
Elapsed,1438300800,1438300800,1438300800,1438300800,1438300800
StoreType,c,a,a,c,a
Assortment,a,a,a,c,a
CompetitionDistance,1270,570,14130,620,29910
CompetitionOpenSinceMonth,9,11,12,9,4
CompetitionOpenSinceYear,2008,2007,2006,2009,2015
Promo2,0,1,1,0,0
Promo2SinceWeek,1,13,14,1,1
Promo2SinceYear,1900,2010,2011,1900,1900
...,...,...,...,...,...
Elapsed_DE,1438473600,1438473600,1438473600,1438473600,1438473600
Max_TemperatureC,23,19,21,19,20
Mean_TemperatureC,16,13,13,14,15
Min_TemperatureC,8,7,6,9,10
Dew_PointC,9,9,10,9,8
MeanDew_PointC,6,6,7,7,6
Min_DewpointC,3,3,4,4,5
Max_Humidity,98,100,100,94,82
Mean_Humidity,54,62,61,61,55
Min_Humidity,18,25,24,30,26
Max_Sea_Level_PressurehPa,1021,1021,1022,1019,1020
Mean_Sea_Level_PressurehPa,1018,1019,1019,1017,1018
Min_Sea_Level_PressurehPa,1015,1017,1017,1014,1016
Max_VisibilityKm,31,10,31,10,10
Mean_VisibilityKm,15,10,14,10,10
Min_VisibilitykM,10,10,10,10,10
Max_Wind_SpeedKm_h,24,14,14,23,14
Mean_Wind_SpeedKm_h,11,11,5,16,11
Max_Gust_SpeedKm_h,NaN,NaN,NaN,NaN,NaN
Precipitationmm,0,0,0,0,0
CloudCover,1,4,2,6,4
Events,Fog,Fog,Fog,NaN,NaN
WindDirDegrees,13,309,354,282,290
StateName,Hessen,Thueringen,NordrheinWestfalen,Berlin,Sachsen
CompetitionOpenSince,2008-09-15 00:00:00,2007-11-15 00:00:00,2006-12-15 00:00:00,2009-09-15 00:00:00,2015-04-15 00:00:00
CompetitionDaysOpen,2510,2815,3150,2145,107
CompetitionMonthsOpen,24,24,24,24,3
Promo2Since,1900-01-01 00:00:00,2010-03-29 00:00:00,2011-04-04 00:00:00,1900-01-01 00:00:00,1900-01-01 00:00:00
Promo2Days,0,1950,1579,0,0
Promo2Weeks,0,25,25,0,0

In [45]:
joined.to_pickle(data_dir+'/joined')
joined_test.to_pickle(data_dir+'/joined_test')

# Calculate durations

In [47]:
def get_elapsed(col, pre):
    day1 = np.timedelta64(1,'D')
    last_date = np.datetime64()
    last_store = 0
    res = []
    
    for s,v,d in zip(df.Store.values, df[col].values, df.Date.values):
        if s!=last_store:
            last_date = np.datetime64()
            last_store =s
        if v: last_date = d
        res.append(((d-last_date).astype('timedelta64[D]')/day1))
    df[pre+col] = res

### try on a data subset

In [48]:
columns = ["Date", "Store", "Promo",
           "StateHoliday", "SchoolHoliday"]

In [49]:
df = train[columns].append(test[columns])

In [50]:
df.shape

(1058297, 5)

In [51]:
df.head(20)

         Date  Store  Promo  StateHoliday  SchoolHoliday
0  2015-07-31      1      1         False           True
1  2015-07-31      2      1         False           True
2  2015-07-31      3      1         False           True
3  2015-07-31      4      1         False           True
4  2015-07-31      5      1         False           True
5  2015-07-31      6      1         False           True
6  2015-07-31      7      1         False           True
7  2015-07-31      8      1         False           True
8  2015-07-31      9      1         False           True
9  2015-07-31     10      1         False           True
10 2015-07-31     11      1         False           True
11 2015-07-31     12      1         False           True
12 2015-07-31     13      1         False          False
13 2015-07-31     14      1         False           True
14 2015-07-31     15      1         False           True
15 2015-07-31     16      1         False           True
16 2015-07-31     17      1         False           True
17 2015-07-31     18      1         False           True
18 2015-07-31     19      1         False           True
19 2015-07-31     20      1         False          False

In [52]:
# sort values by Store first and then by Date
fld = 'SchoolHoliday'
df = df.sort_values(['Store','Date'])
df.head(20)

              Date  Store  Promo  StateHoliday  SchoolHoliday
1016095 2013-01-01      1      0          True           True
1014980 2013-01-02      1      0         False           True
1013865 2013-01-03      1      0         False           True
1012750 2013-01-04      1      0         False           True
1011635 2013-01-05      1      0         False           True
1010520 2013-01-06      1      0         False           True
1009405 2013-01-07      1      1         False           True
1008290 2013-01-08      1      1         False           True
1007175 2013-01-09      1      1         False           True
1006060 2013-01-10      1      1         False           True
1004945 2013-01-11      1      1         False           True
1003830 2013-01-12      1      0         False          False
1002715 2013-01-13      1      0         False          False
1001600 2013-01-14      1      0         False          False
1000485 2013-01-15      1      0         False          False
999370  2013-01-16      1      0         False          False
998255  2013-01-17      1      0         False          False
997140  2013-01-18      1      0         False          False
996025  2013-01-19      1      0         False          False
994910  2013-01-20      1      0         False          False

In [53]:
get_elapsed(fld,'After')
df.head(20)

,Date,Store,Promo,StateHoliday,SchoolHoliday,AfterSchoolHoliday
1016095,2013-01-01,1,0,True,True,0.0
1014980,2013-01-02,1,0,False,True,0.0
1013865,2013-01-03,1,0,False,True,0.0
1012750,2013-01-04,1,0,False,True,0.0
1011635,2013-01-05,1,0,False,True,0.0
1010520,2013-01-06,1,0,False,True,0.0
1009405,2013-01-07,1,1,False,True,0.0
1008290,2013-01-08,1,1,False,True,0.0
1007175,2013-01-09,1,1,False,True,0.0
1006060,2013-01-10,1,1,False,True,0.0
1004945,2013-01-11,1,1,False,True,0.0
1003830,2013-01-12,1,0,False,False,1.0
1002715,2013-01-13,1,0,False,False,2.0
1001600,2013-01-14,1,0,False,False,3.0
1000485,2013-01-15,1,0,False,False,4.0
999370,2013-01-16,1,0,False,False,5.0
998255,2013-01-17,1,0,False,False,6.0
997140,2013-01-18,1,0,False,False,7.0
996025,2013-01-19,1,0,False,False,8.0
994910,2013-01-20,1,0,False,False,9.0

In [54]:
df = df.sort_values(['Store', 'Date'], ascending=[True, False])
get_elapsed(fld, 'Before')
df.head(20)

,Date,Store,Promo,StateHoliday,SchoolHoliday,AfterSchoolHoliday,BeforeSchoolHoliday
0,2015-09-17,1,1,False,False,13.0,NaN
856,2015-09-16,1,1,False,False,12.0,NaN
1712,2015-09-15,1,1,False,False,11.0,NaN
2568,2015-09-14,1,1,False,False,10.0,NaN
3424,2015-09-13,1,0,False,False,9.0,NaN
4280,2015-09-12,1,0,False,False,8.0,NaN
5136,2015-09-11,1,0,False,False,7.0,NaN
5992,2015-09-10,1,0,False,False,6.0,NaN
6848,2015-09-09,1,0,False,False,5.0,NaN
7704,2015-09-08,1,0,False,False,4.0,NaN
8560,2015-09-07,1,0,False,False,3.0,NaN
9416,2015-09-06,1,0,False,False,2.0,NaN
10272,2015-09-05,1,0,False,False,1.0,NaN
11128,2015-09-04,1,1,False,True,0.0,0.0
11984,2015-09-03,1,1,False,True,0.0,0.0
12840,2015-09-02,1,1,False,True,0.0,0.0
13696,2015-09-01,1,1,False,True,0.0,0.0
14552,2015-08-31,1,1,False,True,0.0,0.0
15408,2015-08-30,1,0,False,True,0.0,0.0
16264,2015-08-29,1,0,False,True,0.0,0.0

In [55]:
fld = 'StateHoliday'
df = df.sort_values(['Store', 'Date'])
get_elapsed(fld, 'After')
df = df.sort_values(['Store', 'Date'], ascending=[True, False])
get_elapsed(fld, 'Before')
df.head(20)

,Date,Store,Promo,StateHoliday,SchoolHoliday,AfterSchoolHoliday,BeforeSchoolHoliday,AfterStateHoliday,BeforeStateHoliday
0,2015-09-17,1,1,False,False,13.0,NaN,105.0,NaN
856,2015-09-16,1,1,False,False,12.0,NaN,104.0,NaN
1712,2015-09-15,1,1,False,False,11.0,NaN,103.0,NaN
2568,2015-09-14,1,1,False,False,10.0,NaN,102.0,NaN
3424,2015-09-13,1,0,False,False,9.0,NaN,101.0,NaN
4280,2015-09-12,1,0,False,False,8.0,NaN,100.0,NaN
5136,2015-09-11,1,0,False,False,7.0,NaN,99.0,NaN
5992,2015-09-10,1,0,False,False,6.0,NaN,98.0,NaN
6848,2015-09-09,1,0,False,False,5.0,NaN,97.0,NaN
7704,2015-09-08,1,0,False,False,4.0,NaN,96.0,NaN
8560,2015-09-07,1,0,False,False,3.0,NaN,95.0,NaN
9416,2015-09-06,1,0,False,False,2.0,NaN,94.0,NaN
10272,2015-09-05,1,0,False,False,1.0,NaN,93.0,NaN
11128,2015-09-04,1,1,False,True,0.0,0.0,92.0,NaN
11984,2015-09-03,1,1,False,True,0.0,0.0,91.0,NaN
12840,2015-09-02,1,1,False,True,0.0,0.0,90.0,NaN
13696,2015-09-01,1,1,False,True,0.0,0.0,89.0,NaN
14552,2015-08-31,1,1,False,True,0.0,0.0,88.0,NaN
15408,2015-08-30,1,0,False,True,0.0,0.0,87.0,NaN
16264,2015-08-29,1,0,False,True,0.0,0.0,86.0,NaN

In [56]:
fld = 'Promo'
df = df.sort_values(['Store', 'Date'])
get_elapsed(fld, 'After')
df = df.sort_values(['Store', 'Date'], ascending=[True, False])
get_elapsed(fld, 'Before')
df.head(20)

,Date,Store,Promo,StateHoliday,SchoolHoliday,AfterSchoolHoliday,BeforeSchoolHoliday,AfterStateHoliday,BeforeStateHoliday,AfterPromo,BeforePromo
0,2015-09-17,1,1,False,False,13.0,NaN,105.0,NaN,0.0,0.0
856,2015-09-16,1,1,False,False,12.0,NaN,104.0,NaN,0.0,0.0
1712,2015-09-15,1,1,False,False,11.0,NaN,103.0,NaN,0.0,0.0
2568,2015-09-14,1,1,False,False,10.0,NaN,102.0,NaN,0.0,0.0
3424,2015-09-13,1,0,False,False,9.0,NaN,101.0,NaN,9.0,-1.0
4280,2015-09-12,1,0,False,False,8.0,NaN,100.0,NaN,8.0,-2.0
5136,2015-09-11,1,0,False,False,7.0,NaN,99.0,NaN,7.0,-3.0
5992,2015-09-10,1,0,False,False,6.0,NaN,98.0,NaN,6.0,-4.0
6848,2015-09-09,1,0,False,False,5.0,NaN,97.0,NaN,5.0,-5.0
7704,2015-09-08,1,0,False,False,4.0,NaN,96.0,NaN,4.0,-6.0
8560,2015-09-07,1,0,False,False,3.0,NaN,95.0,NaN,3.0,-7.0
9416,2015-09-06,1,0,False,False,2.0,NaN,94.0,NaN,2.0,-8.0
10272,2015-09-05,1,0,False,False,1.0,NaN,93.0,NaN,1.0,-9.0
11128,2015-09-04,1,1,False,True,0.0,0.0,92.0,NaN,0.0,0.0
11984,2015-09-03,1,1,False,True,0.0,0.0,91.0,NaN,0.0,0.0
12840,2015-09-02,1,1,False,True,0.0,0.0,90.0,NaN,0.0,0.0
13696,2015-09-01,1,1,False,True,0.0,0.0,89.0,NaN,0.0,0.0
14552,2015-08-31,1,1,False,True,0.0,0.0,88.0,NaN,0.0,0.0
15408,2015-08-30,1,0,False,True,0.0,0.0,87.0,NaN,9.0,-1.0
16264,2015-08-29,1,0,False,True,0.0,0.0,86.0,NaN,8.0,-2.0

In [57]:
df = df.set_index('Date')

In [58]:
# set NAs to 0
columns = ['SchoolHoliday', 'StateHoliday', 'Promo']
for o in ['Before', 'After']:
    for p in columns:
        a = o+p
        df[a] = df[a].fillna(0).astype(int)

In [59]:
df.head(20)

,Store,Promo,StateHoliday,SchoolHoliday,AfterSchoolHoliday,BeforeSchoolHoliday,AfterStateHoliday,BeforeStateHoliday,AfterPromo,BeforePromo
Date,,,,,,,,,,
2015-09-17,1,1,False,False,13,0,105,0,0,0
2015-09-16,1,1,False,False,12,0,104,0,0,0
2015-09-15,1,1,False,False,11,0,103,0,0,0
2015-09-14,1,1,False,False,10,0,102,0,0,0
2015-09-13,1,0,False,False,9,0,101,0,9,-1
2015-09-12,1,0,False,False,8,0,100,0,8,-2
2015-09-11,1,0,False,False,7,0,99,0,7,-3
2015-09-10,1,0,False,False,6,0,98,0,6,-4
2015-09-09,1,0,False,False,5,0,97,0,5,-5
2015-09-08,1,0,False,False,4,0,96,0,4,-6
2015-09-07,1,0,False,False,3,0,95,0,3,-7
2015-09-06,1,0,False,False,2,0,94,0,2,-8
2015-09-05,1,0,False,False,1,0,93,0,1,-9
2015-09-04,1,1,False,True,0,0,92,0,0,0
2015-09-03,1,1,False,True,0,0,91,0,0,0
2015-09-02,1,1,False,True,0,0,90,0,0,0
2015-09-01,1,1,False,True,0,0,89,0,0,0
2015-08-31,1,1,False,True,0,0,88,0,0,0
2015-08-30,1,0,False,True,0,0,87,0,9,-1
2015-08-29,1,0,False,True,0,0,86,0,8,-2

## Calculate rolling values

In [60]:
bwd = df[['Store']+columns].sort_index().groupby("Store").rolling(7, min_periods=1).sum()

In [61]:
fwd = df[['Store']+columns].sort_index(ascending=False
                                      ).groupby("Store").rolling(7, min_periods=1).sum()

In [62]:
bwd

                   Store  SchoolHoliday  StateHoliday  Promo
Store Date
1     2013-01-01     1.0            1.0           1.0    0.0
      2013-01-02     2.0            2.0           1.0    0.0
      2013-01-03     3.0            3.0           1.0    0.0
      2013-01-04     4.0            4.0           1.0    0.0
      2013-01-05     5.0            5.0           1.0    0.0
      2013-01-06     6.0            6.0           1.0    0.0
      2013-01-07     7.0            7.0           1.0    1.0
      2013-01-08     7.0            7.0           0.0    2.0
      2013-01-09     7.0            7.0           0.0    3.0
      2013-01-10     7.0            7.0           0.0    4.0
      2013-01-11     7.0            7.0           0.0    5.0
      2013-01-12     7.0            6.0           0.0    5.0
      2013-01-13     7.0            5.0           0.0    5.0
      2013-01-14     7.0            4.0           0.0    4.0
      2013-01-15     7.0            3.0           0.0    3.0
      2013-01-16     7.0            2.0           0.0    2.0
      2013-01-17     7.0            1.0           0.0    1.0
      2013-01-18     7.0            0.0           0.0    0.0
      2013-01-19     7.0            0.0           0.0    0.0
      2013-01-20     7.0            0.0           0.0    0.0
      2013-01-21     7.0            0.0           0.0    1.0
      2013-01-22     7.0            0.0           0.0    2.0
      2013-01-23     7.0            0.0           0.0    3.0
      2013-01-24     7.0            0.0           0.0    4.0
      2013-01-25     7.0            0.0           0.0    5.0
      2013-01-26     7.0            0.0           0.0    5.0
      2013-01-27     7.0            0.0           0.0    5.0
      2013-01-28     7.0            0.0           0.0    4.0
      2013-01-29     7.0            0.0           0.0    3.0
      2013-01-30     7.0            0.0           0.0    2.0
...                  ...            ...           ...    ...
1115  2015-08-19  7805.0            7.0           0.0    3.0
      2015-08-20  7805.0            7.0           0.0    4.0
      2015-08-21  7805.0            7.0           0.0    5.0
      2015-08-22  7805.0            7.0           0.0    5.0
      2015-08-23  7805.0            7.0           0.0    5.0
      2015-08-24  7805.0            7.0           0.0    4.0
      2015-08-25  7805.0            7.0           0.0    3.0
      2015-08-26  7805.0            7.0           0.0    2.0
      2015-08-27  7805.0            7.0           0.0    1.0
      2015-08-28  7805.0            7.0           0.0    0.0
      2015-08-29  7805.0            7.0           0.0    0.0
      2015-08-30  7805.0            7.0           0.0    0.0
      2015-08-31  7805.0            7.0           0.0    1.0
      2015-09-01  7805.0            7.0           0.0    2.0
      2015-09-02  7805.0            7.0           0.0    3.0
      2015-09-03  7805.0            7.0           0.0    4.0
      2015-09-04  7805.0            7.0           0.0    5.0
      2015-09-05  7805.0            6.0           0.0    5.0
      2015-09-06  7805.0            5.0           0.0    5.0
      2015-09-07  7805.0            4.0           0.0    4.0
      2015-09-08  7805.0            3.0           0.0    3.0
      2015-09-09  7805.0            2.0           0.0    2.0
      2015-09-10  7805.0            1.0           0.0    1.0
      2015-09-11  7805.0            0.0           0.0    0.0
      2015-09-12  7805.0            0.0           0.0    0.0
      2015-09-13  7805.0            0.0           0.0    0.0
      2015-09-14  7805.0            0.0           0.0    1.0
      2015-09-15  7805.0            0.0           0.0    2.0
      2015-09-16  7805.0            0.0           0.0    3.0
      2015-09-17  7805.0            0.0           0.0    4.0

[1058297 rows x 4 columns]

In [63]:
bwd.drop('Store',1,inplace=True)
bwd.reset_index(inplace=True)

In [64]:
fwd.drop('Store',1,inplace=True)
fwd.reset_index(inplace=True)

In [65]:
df.reset_index(inplace=True)

In [66]:
bwd

         Store       Date  SchoolHoliday  StateHoliday  Promo
0            1 2013-01-01            1.0           1.0    0.0
1            1 2013-01-02            2.0           1.0    0.0
2            1 2013-01-03            3.0           1.0    0.0
3            1 2013-01-04            4.0           1.0    0.0
4            1 2013-01-05            5.0           1.0    0.0
5            1 2013-01-06            6.0           1.0    0.0
6            1 2013-01-07            7.0           1.0    1.0
7            1 2013-01-08            7.0           0.0    2.0
8            1 2013-01-09            7.0           0.0    3.0
9            1 2013-01-10            7.0           0.0    4.0
10           1 2013-01-11            7.0           0.0    5.0
11           1 2013-01-12            6.0           0.0    5.0
12           1 2013-01-13            5.0           0.0    5.0
13           1 2013-01-14            4.0           0.0    4.0
14           1 2013-01-15            3.0           0.0    3.0
15           1 2013-01-16            2.0           0.0    2.0
16           1 2013-01-17            1.0           0.0    1.0
17           1 2013-01-18            0.0           0.0    0.0
18           1 2013-01-19            0.0           0.0    0.0
19           1 2013-01-20            0.0           0.0    0.0
20           1 2013-01-21            0.0           0.0    1.0
21           1 2013-01-22            0.0           0.0    2.0
22           1 2013-01-23            0.0           0.0    3.0
23           1 2013-01-24            0.0           0.0    4.0
24           1 2013-01-25            0.0           0.0    5.0
25           1 2013-01-26            0.0           0.0    5.0
26           1 2013-01-27            0.0           0.0    5.0
27           1 2013-01-28            0.0           0.0    4.0
28           1 2013-01-29            0.0           0.0    3.0
29           1 2013-01-30            0.0           0.0    2.0
...        ...        ...            ...           ...    ...
1058267   1115 2015-08-19            7.0           0.0    3.0
1058268   1115 2015-08-20            7.0           0.0    4.0
1058269   1115 2015-08-21            7.0           0.0    5.0
1058270   1115 2015-08-22            7.0           0.0    5.0
1058271   1115 2015-08-23            7.0           0.0    5.0
1058272   1115 2015-08-24            7.0           0.0    4.0
1058273   1115 2015-08-25            7.0           0.0    3.0
1058274   1115 2015-08-26            7.0           0.0    2.0
1058275   1115 2015-08-27            7.0           0.0    1.0
1058276   1115 2015-08-28            7.0           0.0    0.0
1058277   1115 2015-08-29            7.0           0.0    0.0
1058278   1115 2015-08-30            7.0           0.0    0.0
1058279   1115 2015-08-31            7.0           0.0    1.0
1058280   1115 2015-09-01            7.0           0.0    2.0
1058281   1115 2015-09-02            7.0           0.0    3.0
1058282   1115 2015-09-03            7.0           0.0    4.0
1058283   1115 2015-09-04            7.0           0.0    5.0
1058284   1115 2015-09-05            6.0           0.0    5.0
1058285   1115 2015-09-06            5.0           0.0    5.0
1058286   1115 2015-09-07            4.0           0.0    4.0
1058287   1115 2015-09-08            3.0           0.0    3.0
1058288   1115 2015-09-09            2.0           0.0    2.0
1058289   1115 2015-09-10            1.0           0.0    1.0
1058290   1115 2015-09-11            0.0           0.0    0.0
1058291   1115 2015-09-12            0.0           0.0    0.0
1058292   1115 2015-09-13            0.0           0.0    0.0
1058293   1115 2015-09-14            0.0           0.0    1.0
1058294   1115 2015-09-15            0.0           0.0    2.0
1058295   1115 2015-09-16            0.0           0.0    3.0
1058296   1115 2015-09-17            0.0           0.0    4.0

[1058297 rows x 5 columns]

In [67]:
df = df.merge(bwd, 'left', ['Date', 'Store'], suffixes=['', '_bw'])
df = df.merge(fwd, 'left', ['Date', 'Store'], suffixes=['', '_fw'])

In [68]:
df.drop(columns,1,inplace=True)

In [69]:
df.head()

,Date,Store,AfterSchoolHoliday,BeforeSchoolHoliday,AfterStateHoliday,BeforeStateHoliday,AfterPromo,BeforePromo,SchoolHoliday_bw,StateHoliday_bw,Promo_bw,SchoolHoliday_fw,StateHoliday_fw,Promo_fw
0,2015-09-17,1,13,0,105,0,0,0,0.0,0.0,4.0,0.0,0.0,1.0
1,2015-09-16,1,12,0,104,0,0,0,0.0,0.0,3.0,0.0,0.0,2.0
2,2015-09-15,1,11,0,103,0,0,0,0.0,0.0,2.0,0.0,0.0,3.0
3,2015-09-14,1,10,0,102,0,0,0,0.0,0.0,1.0,0.0,0.0,4.0
4,2015-09-13,1,9,0,101,0,9,-1,0.0,0.0,0.0,0.0,0.0,4.0

In [71]:
df.to_pickle(data_dir+'/df')
df["Date"] = pd.to_datetime(df.Date)

In [70]:
joined = pd.read_pickle(data_dir+'/joined')
joined_test = pd.read_pickle(data_dir+'/joined_test')

In [71]:
joined = join_df(joined, df, ['Store', 'Date'])
joined_test = join_df(joined_test, df, ['Store', 'Date'])

In [72]:
joined = joined[joined.Sales!=0]

In [73]:
joined.head().T

,0,1,2,3,4
Store,1,2,3,4,5
DayOfWeek,5,5,5,5,5
Date,2015-07-31 00:00:00,2015-07-31 00:00:00,2015-07-31 00:00:00,2015-07-31 00:00:00,2015-07-31 00:00:00
Sales,5263,6064,8314,13995,4822
Customers,555,625,821,1498,559
Open,1,1,1,1,1
Promo,1,1,1,1,1
StateHoliday,False,False,False,False,False
SchoolHoliday,True,True,True,True,True
Year,2015,2015,2015,2015,2015
Month,7,7,7,7,7
Week,31,31,31,31,31
Day,31,31,31,31,31
Dayofweek,4,4,4,4,4
Dayofyear,212,212,212,212,212
Is_month_end,True,True,True,True,True
Is_month_start,False,False,False,False,False
Is_quarter_end,False,False,False,False,False
Is_quarter_start,False,False,False,False,False
Is_year_end,False,False,False,False,False
Is_year_start,False,False,False,False,False
Elapsed,1438300800,1438300800,1438300800,1438300800,1438300800
StoreType,c,a,a,c,a
Assortment,a,a,a,c,a
CompetitionDistance,1270,570,14130,620,29910
CompetitionOpenSinceMonth,9,11,12,9,4
CompetitionOpenSinceYear,2008,2007,2006,2009,2015
Promo2,0,1,1,0,0
Promo2SinceWeek,1,13,14,1,1
Promo2SinceYear,1900,2010,2011,1900,1900
...,...,...,...,...,...
Min_Sea_Level_PressurehPa,1015,1017,1017,1014,1016
Max_VisibilityKm,31,10,31,10,10
Mean_VisibilityKm,15,10,14,10,10
Min_VisibilitykM,10,10,10,10,10
Max_Wind_SpeedKm_h,24,14,14,23,14
Mean_Wind_SpeedKm_h,11,11,5,16,11
Max_Gust_SpeedKm_h,NaN,NaN,NaN,NaN,NaN
Precipitationmm,0,0,0,0,0
CloudCover,1,4,2,6,4
Events,Fog,Fog,Fog,NaN,NaN
WindDirDegrees,13,309,354,282,290
StateName,Hessen,Thueringen,NordrheinWestfalen,Berlin,Sachsen
CompetitionOpenSince,2008-09-15 00:00:00,2007-11-15 00:00:00,2006-12-15 00:00:00,2009-09-15 00:00:00,2015-04-15 00:00:00
CompetitionDaysOpen,2510,2815,3150,2145,107
CompetitionMonthsOpen,24,24,24,24,3
Promo2Since,1900-01-01 00:00:00,2010-03-29 00:00:00,2011-04-04 00:00:00,1900-01-01 00:00:00,1900-01-01 00:00:00
Promo2Days,0,1950,1579,0,0
Promo2Weeks,0,25,25,0,0
AfterSchoolHoliday,0,0,0,0,0
BeforeSchoolHoliday,0,0,0,0,0
AfterStateHoliday,57,67,57,67,57
BeforeStateHoliday,0,0,0,0,0
AfterPromo,0,0,0,0,0
BeforePromo,0,0,0,0,0
SchoolHoliday_bw,5,5,5,5,5
StateHoliday_bw,0,0,0,0,0
Promo_bw,5,5,5,5,5
SchoolHoliday_fw,7,1,5,1,1
StateHoliday_fw,0,0,0,0,0
Promo_fw,5,1,5,1,1

In [74]:
joined.reset_index(inplace=True)
joined_test.reset_index(inplace=True)

In [77]:
joined.to_pickle(data_dir+'/train_clean')
joined_test.to_pickle(data_dir+'/test_clean')

# Get a sample to experiment with

In [80]:
train_df = joined.copy()
del joined

In [81]:
n = len(train_df); n

844338

In [82]:
# generate index of a random sample of size 2000
idx = np.random.permutation(range(n))[:2000] 
idx.sort()

In [83]:
# both loc and iloc slice rows if a single argument is given
small_train_df = train_df.iloc[idx[:1000]]
small_test_df = train_df.iloc[idx[1000:]]

In [85]:
small_train_df.head().T

,376,1543,2228,2894,2988
index,377,1546,2232,2899,2993
Store,378,432,3,670,764
DayOfWeek,5,4,3,3,3
Date,2015-07-31 00:00:00,2015-07-30 00:00:00,2015-07-29 00:00:00,2015-07-29 00:00:00,2015-07-29 00:00:00
Sales,8828,13839,7610,7557,4594
Customers,1267,1726,716,716,453
Open,1,1,1,1,1
Promo,1,1,1,1,1
StateHoliday,False,False,False,False,False
SchoolHoliday,True,True,True,False,True
Year,2015,2015,2015,2015,2015
Month,7,7,7,7,7
Week,31,31,31,31,31
Day,31,30,29,29,29
Dayofweek,4,3,2,2,2
Dayofyear,212,211,210,210,210
Is_month_end,True,False,False,False,False
Is_month_start,False,False,False,False,False
Is_quarter_end,False,False,False,False,False
Is_quarter_start,False,False,False,False,False
Is_year_end,False,False,False,False,False
Is_year_start,False,False,False,False,False
Elapsed,1438300800,1438214400,1438128000,1438128000,1438128000
StoreType,a,a,a,a,a
Assortment,c,a,a,a,c
CompetitionDistance,2140,810,14130,2060,26490
CompetitionOpenSinceMonth,8,5,12,1,1
CompetitionOpenSinceYear,2012,2013,2006,1900,1900
Promo2,0,0,1,1,1
Promo2SinceWeek,1,1,14,45,10
...,...,...,...,...,...
Min_Sea_Level_PressurehPa,1017,1003,1007,1010,1010
Max_VisibilityKm,31,31,31,10,31
Mean_VisibilityKm,14,13,12,10,14
Min_VisibilitykM,10,6,10,10,6
Max_Wind_SpeedKm_h,14,32,37,27,23
Mean_Wind_SpeedKm_h,5,26,21,11,13
Max_Gust_SpeedKm_h,NaN,52,52,NaN,NaN
Precipitationmm,0,1.02,2.03,0,0.51
CloudCover,2,6,4,5,6
Events,Fog,Rain,Rain-Thunderstorm,Rain,Rain
WindDirDegrees,354,262,246,252,226
StateName,NordrheinWestfalen,Hamburg,NordrheinWestfalen,Bayern,RheinlandPfalz
CompetitionOpenSince,2012-08-15 00:00:00,2013-05-15 00:00:00,2006-12-15 00:00:00,1900-01-15 00:00:00,1900-01-15 00:00:00
CompetitionDaysOpen,1080,806,3148,0,0
CompetitionMonthsOpen,24,24,24,0,0
Promo2Since,1900-01-01 00:00:00,1900-01-01 00:00:00,2011-04-04 00:00:00,2009-11-02 00:00:00,2014-03-03 00:00:00
Promo2Days,0,0,1577,2095,513
Promo2Weeks,0,0,25,25,25
AfterSchoolHoliday,0,0,0,54,0
BeforeSchoolHoliday,0,0,0,-5,0
AfterStateHoliday,57,66,55,55,55
BeforeStateHoliday,0,0,0,-17,0
AfterPromo,0,0,0,0,0
BeforePromo,0,0,0,0,0
SchoolHoliday_bw,5,5,5,0,3
StateHoliday_bw,0,0,0,0,0
Promo_bw,5,4,3,3,3
SchoolHoliday_fw,5,5,5,2,5
StateHoliday_fw,0,0,0,0,0
Promo_fw,5,5,5,5,5

### select subset of variables as samples

In [86]:
small_cont_vars = ['CompetitionDistance', 'Mean_Humidity'] # continuous
small_cat_vars =  ['Store', 'DayOfWeek', 'PromoInterval'] # categorical

small_train_df = small_train_df[small_cat_vars + small_cont_vars + ['Sales']]
small_test_df = small_test_df[small_cat_vars + small_cont_vars + ['Sales']]

In [87]:
small_train_df.head()

,Store,DayOfWeek,PromoInterval,CompetitionDistance,Mean_Humidity,Sales
376,378,5,NaN,2140.0,61,8828
1543,432,4,NaN,810.0,81,13839
2228,3,3,"Jan,Apr,Jul,Oct",14130.0,67,7610
2894,670,3,"Feb,May,Aug,Nov",2060.0,77,7557
2988,764,3,"Mar,Jun,Sept,Dec",26490.0,63,4594

In [88]:
small_test_df.head()

,Store,DayOfWeek,PromoInterval,CompetitionDistance,Mean_Humidity,Sales
429486,886,1,NaN,12430.0,79,6410
429555,955,1,"Mar,Jun,Sept,Dec",1690.0,79,4590
429637,1037,1,NaN,150.0,79,6984
429763,19,6,"Mar,Jun,Sept,Dec",3240.0,77,4416
429931,188,6,"Feb,May,Aug,Nov",850.0,83,4550